
/* Variables de colores:  */
:root {
	/* design  */

	--color_primario_design: #9d3472;
    --color_secundario_design: #007dbb;
    --color_terciario_design: #9d3472;
	--color_referencia_design: #67aa46; 


/* 
  
	
	--color-terciario_design: #ef7911;
	--color-referencia_design: #67aa46; */

	
	
  }

  

  .page-title {
    text-align: center;
    background-color: var(--color-primario_design)!important;
}

/* Deyli &  Design  */
.woocommerce .product_meta .tagged_as a::before {
  content: "";
  color: var(--color_primario_design)!important;
}

  .bold{
	font-weight: 600;
  }

  .spacing{
	letter-spacing: 1.2px;
  }

  /* Logo  */
  
  .logo_texto{
	height: 40px!important;

  }
  /* design  */
  .color_secundario_design{
	color: var(--color-secundario_design)!important;
  }
  .color_primario_design{
	color: var(--color_primario_design)!important;
  }

  .color_terciario_design{
	color: var(--color_terciario_design)!important;
  }

  .ccolor_referencia_design{
	color: var(--color_referencia_design)!important;
  }

  

  .cws-button.alt:hover{
	background-color: var(--color_primario_design)!important;
    color: rgb(255, 255, 255) !important;
  }

  
  .cws-button.alt.design_referencia:hover{
	background-color: var(--color_referencia_design)!important;
    color: rgb(255, 255, 255) !important;
  }

  

  .cws-button{
	border: 2px solid var(--color_primario_design)!important;
  }

  .woodesignmerce .product_meta .tagged_as a::before {
    content: "";
    color: var(--color_primario_design)!important;
}

/* guiones de items materias importantes */
.main-features .minus_cine {
    color: var(--color_primario_design)!important;
}

/* Siguenos */
.widget-subscribe > .color_secundario_design a {
    display: inline-block;
    border: 2px solid var(--color-secundario_design)!important;
    color: var(--color_secundario_design)!important;
}
.widget-subscribe > .color_secundario_design a:hover{
	background-color: var(--color-secundario_design)!important;
	color: white!important;
}

/* Footer */
.ft_secundario_bg_franja_design{
	background-color: var(--color-secundario_design)!important;
}

.ft_terciario_bg_franja_design{
	background-color: var(--color-terciario_design)!important;
}
.ft_referencia_bg_franja_design{
	background-color: var(--color-referencia_design)!important;
}

.footer-latest .course-date_design > * {
    display: inline-block;
    color: var(--color-terciario_design);
    font-weight: 500;
    line-height: 15px;
}



.cws-button_design {
    border: 2px solid var(--color-terciario_design) !important;
}
/* Los items  */
ul .design:before {
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 8px;
    position: absolute;
    left: 0px;
    color: var(--color_primario_design)!important;
    font-weight: 800;
    line-height: 35px;
}
/* single correcciones  */
.blog_subcontent{
	font-size: 12px; line-height: 3;
}

.picture > .hover-effect {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-secundario_design)!important;
    opacity: 0;
    transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
/**/