
/* Variables de colores:  */
:root {
	/* rrpp  */

	--color_primario_rrpp: #67aa46;
    --color_secundario_rrpp: #007dbb;
    --color_terciario_rrpp: #9d3472;
	--color_referencia_rrpp: #67aa46; 


/* 
  
	
	--color-terciario_rrpp: #ef7911;
	--color-referencia_rrpp: #67aa46; */

	
	
  }

  .woocommerce .product_meta .tagged_as a::before {
    content: "";
    color: var(--color_primario_rrpp)!important;
}

  

  .page-title {
    text-align: center;
    background-color: var(--color-primario_rrpp)!important;
}

/* Page title */
.page-title_rrpp {
	/* Combinación de imagen de fondo y gradiente lineal */
	background-image: linear-gradient(to bottom, 
  rgba(107, 154, 82, 0.9), 
  rgba(107, 154, 82, 0.7) 25%, 
  rgba(107, 154, 82, 0.6) 50%, 
  rgba(107, 154, 82, 0.7) 75%, 
  rgba(107, 154, 82, 0.9)
), url(../img/rrpp.jpg);
/* Opciones para el tamaño y posición de la imagen de fondo, si es necesario */
	background-size: cover;
	background-position: center;
	height: auto;
  }
  .page-title_rrpp h1 {
    color: var(--color_primario_rrpp)!important;
   
}
  
  @media(min-width:768px){
	  .page-title_rrpp {
		  /* Combinación de imagen de fondo y gradiente lineal */
      background-image: linear-gradient(to bottom, 
      rgba(107, 154, 82, 0.9), 
      rgba(107, 154, 82, 0.7) 25%, 
      rgba(107, 154, 82, 0.6) 50%, 
      rgba(107, 154, 82, 0.7) 75%, 
      rgba(107, 154, 82, 0.9)
    ), url(../img/rrpp.jpg);
    
/* Opciones para el tamaño y posición de la imagen de fondo */
		  background-size: cover;
		  background-position: center;
		  height: 28vh;
  
		}    
  }


  .bold{
	font-weight: 600;
  }

  .spacing{
	letter-spacing: 1.2px;
  }

  /* Logo  */
  
  .logo_texto{
	height: 40px!important;

  }
  /* rrpp  */
  .color_secundario_rrpp{
	color: var(--color-secundario_rrpp)!important;
  }
  .color_primario_rrpp{
	color: var(--color_primario_rrpp)!important;
  }

  .color_terciario_rrpp{
	color: var(--color_terciario_rrpp)!important;
  }

  .ccolor_referencia_rrpp{
	color: var(--color_referencia_rrpp)!important;
  }

  

  .cws-button.alt:hover{
	background-color: var(--color_primario_rrpp)!important;
    color: rgb(255, 255, 255) !important;
  }

  
  .cws-button.alt.rrpp_referencia:hover{
	background-color: var(--color_referencia_rrpp)!important;
    color: rgb(255, 255, 255) !important;
  }

  

  .cws-button{
	border: 2px solid var(--color_primario_rrpp)!important;
  }

  .woorrppmerce .product_meta .tagged_as a::before {
    content: "";
    color: var(--color_primario_rrpp)!important;
}

/* guiones de items materias importantes */
.main-features .minus_cine {
    color: var(--color_primario_rrpp)!important;
}

/* Siguenos */
.widget-subscribe > .color_secundario_rrpp a {
    display: inline-block;
    border: 2px solid var(--color-secundario_rrpp)!important;
    color: var(--color_secundario_rrpp)!important;
}
.widget-subscribe > .color_secundario_rrpp a:hover{
	background-color: var(--color-secundario_rrpp)!important;
	color: white!important;
}

/* Footer */
.ft_secundario_bg_franja_rrpp{
	background-color: var(--color-secundario_rrpp)!important;
}

.ft_terciario_bg_franja_rrpp{
	background-color: var(--color-terciario_rrpp)!important;
}
.ft_referencia_bg_franja_rrpp{
	background-color: var(--color-referencia_rrpp)!important;
}

.footer-latest .course-date_rrpp > * {
    display: inline-block;
    color: var(--color-terciario_rrpp);
    font-weight: 500;
    line-height: 15px;
}



.cws-button_rrpp {
    border: 2px solid var(--color-terciario_rrpp) !important;
}
/* Los items  */
ul .rrpp:before {
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 8px;
    position: absolute;
    left: 0px;
    color: var(--color_primario_rrpp)!important;
    font-weight: 800;
    line-height: 35px;
}
/* single correcciones  */
.blog_subcontent{
	font-size: 12px; line-height: 3;
}

.picture > .hover-effect {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-secundario_rrpp)!important;
    opacity: 0;
    transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
/**/